@import '../../styles/main';

ol-ok-icon {
  margin-top: 92px;
}

h1 {
  margin-top: 16px;
}

p {
  text-align: center;
}

.modal {
  padding-left: 133px;
  padding-right: 133px;
  padding-bottom: 109px;

  @media (max-width: $breakpoint-modal) {
    padding: 20px;
  }
}
