@import '_variables';
@import '_flexbox.scss';

.default-font {
  font-family: $default-font-stack;
  font-size: $default-font-size;
  line-height: $default-font-line-height;
  font-weight: $default-font-weight;
  color: $default-font-color;
}

h1{
  @extend .default-font;
  font-size: 22px;
  line-height: 31px;
  color: $olist-black;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 24px;
}

p {
  @extend .default-font;
  font-size: 16px;
  color: $olist-black;
  margin-top: 13px;
}

.form-row {
  @include flexbox();
  @include flex-direction(column);

  >.label {
    margin-top: 24px;
    @extend .default-font;
  }

  >.input {
    height: 44px;

    background: $olist-white;
    border: 1px solid $olist-grey;
    box-sizing: border-box;
    box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.05);
  
    @extend .default-font;
    text-indent: 16px;
    color: $olist-black;
  
    outline: none;
  }

  >.valid {
    border: 1px solid $olist-green;
  }

  >.invalid {
    border: 1px solid $olist-red;
  }
}

.modal {
  width: 100%;
  max-width: $modal-width;
  max-height: 100vh;
  overflow-y: auto;

  border: 3px solid $olist-lightest-grey;
  box-sizing: border-box;
  background-color: $olist-white;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);

  padding: 60px 70px 48px 70px;

  @media (max-width: $breakpoint-modal) {
    padding: 20px;
  }
}
