$olist-dark-green: #00ba7f;
$olist-green: #17D499;
$olist-light-green: #1FE6A8;

$olist-dark-grey: #696D8C;
$olist-grey: #B6B9D0;
$olist-light-grey: #EAEAF4;
$olist-lightest-grey: #F2F2F2;
$olist-white: #FFFFFF;
$olist-black: #312F4F;
$olist-red: #F79682;
$olist-yellow: #F7BC1C;

$grey: #dddddd;

$default-font-stack: 'SF Pro Text', 'Roboto', sans-serif;
$default-font-size: 16px;
$default-font-line-height: 1.6;
$default-font-weight: normal;
$default-font-color: $olist-dark-grey;
