@import '../../styles/main';

.button {
  width: 100%;
  margin-top: 32px;
  padding: 1em 1.87em;

  -webkit-appearance: none;
  outline: none;

  background: $olist-green;
  transition: background-color .25s ease-out,color .25s ease-out;

  border: 1px solid transparent;
  border-radius: 3px;

  // Label decoration
  @extend .default-font;
  text-align: center;
  color: $olist-white;

  cursor: pointer;

  &:hover, &:focus {
    background-color: $olist-dark-green;
  }

  &:disabled{
    cursor: not-allowed;
  }
}
