@import '../../styles/main';

// Override the default form margin
#password-strength-input {
  margin-bottom: 8px;
}

.indicator-row {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  margin-bottom: 16px;
}

.rule-row {
  @include flexbox();
  @include flex-direction(row);
  @include align-items(center);
}

.default-rule {
  width: 10px;
  height: 10px;
  background: $olist-light-grey;
  border-radius: 50%;
}

.valid-rule {
  @extend .default-rule;
  background: $olist-light-green;
}

.invalid-rule {
  @extend .default-rule;
  background: $olist-red;
}

.rules {
  @extend .default-font;
  margin-left: 8px;
}

.indicator {
  background: #EAEAF4;
  border-radius: 10px;
  width: 32%;
  height: 8px;
}

.valid-indicator {
  background: $olist-light-green;
}

.one-invalid-indicator {
  background: $olist-yellow;
}

.two-invalid-indicator {
  background: $olist-red;
}
